/*  
=============================
            Indíce 
=============================
1. Configuraciónes globales
2. Header - Nav
3. Banner
4. Section (Proceso)
5. Section (Coffee)
6. Section (Nuestra Cooperativa)
7. Section (Contácto)
8. Footer Web
*/


/* 1. Configuraciónes globales */
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px !important;
    background-color: #e8e8e7;
}
::-webkit-scrollbar{
    width: 8px;
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px !important;
    background-color: #5b3924;
    background-image: -webkit-linear-gradient(90deg,transparent, rgba(0, 0, 0, 0.3) 50%, transparent, transparent)
}
::-webkit-scrollbar-corner {
      background-color: black;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

section{
    margin-bottom: 3em;
}

.title{
    font-weight: bold;
}

h6 {
    letter-spacing: 2px;
    color: #5b3924;
    font-size: 12px;
}

/* 2. Header - Nav */
#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

.header-bg{
    background-color: rgba(20, 2, 0, 0.8);
}

/* 3. Banner */
.banner-fullscreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner-principal.png);
    background-size: cover;
    display: flex;
}

/* 4. Section (Video) */
.play-btn, .play-btn:focus{
    border: none !important;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.video-section{
    background: url(../img/video-bg.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.video-text{
    padding-left: 5em;
}

.video-text p span{
    font-weight: 500;
    text-align: justify;
}

/* 5. Section (Coffee) */
.coffeetypes{
    background-image: url(../img/coffeetypes.jpg);
    background-size: cover; 
}

.item-coffee{
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(182, 136, 52, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    user-select: none;
}

/* 6. Section (Nuestra Cooperativa) */
.img-nuestra-cooperativa{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.aliados{
    background-color: #b68834;
    color: #fff;
}

.items-aliados .item{
    display: flex !important;
    justify-content: center !important;
    height: 100px;
    padding: 1em;
}

.items-aliados .item img{
    height: 100%;
}

/* 7. Section (Contácto) */
.msg-contact{
    resize: none;
}

.btn-enviar{
    background-color: #b68834;
    color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

/* 8. Footer Web */
.footer-web{
    width: 100%;
    min-height: 260px;
    background-image: url(../img/coffee.png);
    background-size: cover;
    color: #fff;
}

.footer-web hr{
    background-color: #fff;
}

.item-footer{
    text-align: center;
}

.item-footer i{
    font-size: 3em;
    padding-bottom: 5px;
}