{% extends 'base_web.html' %}

{% block title_head %}
    Cooicoffee
{% endblock title_head %}

{% block content %}
    {% load static %}
    <!-- Header -->
    <header id="header" id="home">			  	
        <div class="container">
            <!-- Navegador -->
            <nav class="navbar sticky-top" id="nav-menu-container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" width="200" height="50" class="d-inline-block align-top" alt="Logo Cooincoffee" title="Logo Cooincoffee">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="#">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#proceso">PROCESO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#coffee">CÁFE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">NOSOTROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CONTÁCTO</a>
                    </li>
                </ul>
            </nav>		    		
        </div>
    </header>

    <!-- Banner principal -->
    <section class="banner-fullscreen">
        <div class="container d-flex">
            <h1 class="title align-self-center text-white">
                Un buen día comienza <br>
                con una café y una sonrisa
            </h1>
        </div>
    </section>

    <!-- Proceso del café -->
    <section id="proceso">
        <div class="container">
            <div class="row">
                <div class="col-md-6 video-section d-flex justify-content-center align-items-center mb-3">
                    <button class="play-btn" data-toggle="modal" data-target="#modalVideo">
                        <img class="img-fluid" src="{% static 'img/play-icon.png' %}" alt="">
                    </button>
                </div>
                <div class="col-md-6 d-flex align-items-center video-text">
                    <div>
                        <h6>PROCESO DE PRODUCCIÓN DEL CAFÉ</h6>
                        <h2><u>Nuestro Café colombiano</u></h1>
                        <p><span>Cada grano nos hace únicos</span></p>
                        <p class="text-justify">
                            Un café de alta calidad requiere tener en cuenta temas tan complejos y variados que van desde 
                            el árbol y su entorno hasta los procesos de post cosecha. Es imposible apreciar la calidad del 
                            café sin hacer un justo reconocimiento al arduo trabajo de los productores de café.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Video-->
    <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <iframe width="100%" height="600px" src="https://www.youtube.com/embed/5o71PFEHroI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Tipos de café -->
    <section class="coffeetypes py-5" id="coffee">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="mb-2"><u>Tipos de café</u></h2>
                <h6>PRODUCTOS PARA EL PROCESO DE FACTURACIÓN</h6>
            </div>
            <div class="row">
                {% for tipoCafe in listTiposCafe %}
                    <div class="col-md-4 pl-0">
                        <div class="item-coffee">
                            <h6>{{ tipoCafe.nombre }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Nosotros -->
    <section id="nosotros">
        <div class="container">
            <div class="text-center mb-3">
                <h2><u>Nuestra Cooperativa</u></h2>
            </div>
            <div class="row">
                <div class="col-md-9 text-justify px-0">
                    <p><b>Aportamos al desarrollo sostenible de nuestro país, creando valor en todas nuestras relaciones. </b></p>
                    
                    <p>Nuestro objetivo es brindar soluciones que facilitan la gestión en la facturación de compra y venta de café de los caficultores 
                    y cooperativas de colombia, cubriendo sus necesidades y superando sus expectativas, respaldados de nuestro compromiso y talento 
                    humano.</p>

                    <div class="pt-2 text-right">
                        <h4><i>"Asumimos el reto de ser mejores cada día."</i></h4>
                        <h6>Andrés Gonzales - Gerente</h6>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-end">
                    <img class="img-nuestra-cooperativa" src="{% static 'img/nuestra-coopetativa.jpg' %}" alt="Nuestra Coopetativa cooincoffee">
                </div>
            </div>
        </div>
    </section>

    <!-- Aliados -->
    <section class="aliados py-5" id="aliados">
        <div class="container">
            <div class="text-center mb-3">
                <h2><u>Ellos confían en nosotros</u></h2>
            </div>
            <div class="items-aliados">

                {% for cooperativa in listCooperativas %}
                    {% if cooperativa.logo and cooperativa.estado %}
                        <div class="item">
                            <img src="/media/{{ cooperativa.logo }}" alt="{{ cooperativa.nombre }}" title="{{ cooperativa.nombre }}">
                        </div>
                    {% endif %}
                 {% endfor %}
                 
            </div>
        </div>
    </section>

    <!-- Contácto -->
    <section id="contacto">
        <div class="container">
            <div class="text-center mb-5">
                <h2><u>Contáctenos</u></h2>
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 text-right">
                        {{ formulario }}
                        
                        <input type="submit" class="btn btn-enviar" value="Enviar">
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="{% static 'img/torres-rio.jpg' %}" alt="Torres del Río popayán">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer-web">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-4 item-footer">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>UBICACIÓN</h5>
                    <p>
                        Torre D Apto. 105 Torres del Río<br>
                        Popayán, Cauca
                    </p>
                </div>
                <div class="col-md-4 item-footer">
                    <i class="fas fa-phone-volume"></i>
                    <h5>CONTACTOS</h5>
                    <p>
                        contacto@cooincoffee.com<br>
                        +57 350 895 7850
                    </p>
                </div>
                <div class="col-md-4 item-footer">
                    <i class="fas fa-calendar-alt"></i>
                    <h5>HORARIOS</h5>
                    <p>
                        Lunes a viernes: 8am - 12m / 2pm - 6pm<br>
                        Sábados: 8am - 12m
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col md-6">
                    <a href="https://www.facebook.com/" target="blank" class="text-white mr-3">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contacto@cooincoffee.com&su=Contácto%20Cooincoffe&body=Cordial%20Saludo&b" target="blank" class="text-white mr-3">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=573508957850" target="blank" class="text-white mr-3">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <div class="col md-6 text-right">
                    © 2018 Cooincoffee - All Rights Reserved <a href="https://www.linkedin.com/in/daniel-hoyos-1a7396159/" target="blank" class="text-danger">Daniel Hoyos</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}