{% extends '../base_system.html' %}

{% block title_head %}
    Reportes | Cooincoffe    
{% endblock title_head %}

{% block content %}
    <div class="mb-4">
        <div class="row px-3">
            <h2 class="mb-2 title_brown">
                <i class="fas fa-file-contract"></i> <u>Reportes</u>
            </h2>
        </div>
    </div>

    <section class="row mb-5">
        <div class="col-md-6">
            <form action="#" class="form-inline">
                <div class="form-group mb-2">
                    <select id="year-graphics" class="form-control">
                        <option value="" selected>Año</option>
                        {% for year in years %}
                            <option value="{{ year }}" >{{ year }}</option>
                        {% endfor %}
                    </select>
                    <select id="cooperativa-graphics" class="form-control ml-2">
                        <option value="" selected>Cooperativa</option>
                        {% for cooperativa in cooperativas %}
                            <option value="{{ cooperativa.id }}">{{ cooperativa }}</option>
                        {% endfor %}
                    </select>
                    <select id="asociado-graphics" class="form-control mx-2">
                        <option value="" selected>Asociado</option>
                        {% for asociado in asociados %}
                            <option value="{{ asociado.id }}">{{ asociado }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-danger" id="btn-graphics-report"><i class="fas fa-search"></i></button> 
                </div>
            </form>
            <canvas id="graphics-report" width="500px" height="500px"></canvas>
        </div>
        <div class="col-md-6">
            <form action="#" class="form-inline">
                <div class="form-group mb-2 ml-auto">
                    <select id="year-cooperativa" class="form-control">
                        <option value="" selected>Año</option>
                        {% for year in years %}
                            <option value="{{ year }}" >{{ year }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-danger ml-2" id="btn-report-cooperativa"><i class="fas fa-search"></i></button> 
                </div>
            </form>
            <div id="table-cooperativas" class="text-center p-2">
                <small>Reporte del año <strong id="year-cooperativa-report"></strong> por cooperativa</small>
                <table class="table table-sm table-bordered mt-3">
                    <thead>
                        <tr>
                        <th scope="col">Cooperativa</th>
                        <th scope="col">Ventas</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-cooperativas">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>     
    
    <section class="row">
        <div class="col-md-6">
            <form action="#" class="form-inline">
                <div class="form-group mb-2 ml-auto">
                    <select id="year-kilos" class="form-control">
                        <option value="" selected>Año</option>
                        {% for year in years %}
                            <option value="{{ year }}" >{{ year }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-danger ml-2" id="btn-report-kilos"><i class="fas fa-search"></i></button> 
                </div>
            </form>
            <div id="table-cooperativas" class="text-center p-2">
                <small>Reporte del año <strong id="year-kilos-report"></strong> cantidad de kilos por tipo de café </small>
                <table class="table table-sm table-bordered mt-3">
                    <thead>
                        <tr>
                        <th scope="col">Tipo Café</th>
                        <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-kilos">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <form action="#" class="form-inline">
                <div class="form-group mb-2 ml-auto">
                    <select id="year-tipos" class="form-control">
                        <option value="" selected>Año</option>
                        {% for year in years %}
                            <option value="{{ year }}" >{{ year }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-danger ml-2" id="btn-report-tipos"><i class="fas fa-search"></i></button> 
                </div>
            </form>
            <div id="table-cooperativas" class="text-center p-2">
                <small>Reporte del año <strong id="year-tipos-report"></strong> de ventas por tipo de café</small>
                <table class="table table-sm table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Tipo Café</th>
                            <th scope="col">Ventas</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-tipos">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("#btn-graphics-report, #btn-report-cooperativa, #btn-report-kilos, #btn-report-tipos").click();
        });
    </script>
{% endblock scripts %}  