<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Daniel Hoyos">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!-- Favicon-->
	<link rel="shortcut icon" href="/media/templates/favicon.ico">
    
    <title>
        {% block title_head %}
            
        {% endblock title_head %} 
    </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{% static 'css/styles-system.css' %}">
</head>
<body>
    <div class="content">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <aside class="col-lg-2 menu-system">
                    <img src="{% static 'img/logo.png' %}" class="logo" alt="Logo Cooincoffe" title="Logo Cooincoffe">

                    <div class="user-logo">
                        <i class="fas fa-user"></i>
                        {% comment %} <img src="/media/usuarios/{{ user.img }}" class="logo" alt="Logo Cooincoffe" title="Logo Cooincoffe"> {% endcomment %}
                        
                        <p class="m-auto">{{ request.user.first_name }} {{ request.user.last_name }}<p>
                    </div>
                    <hr class="bg-light">
                    <nav>
                        <ul class="nav">
                            {% if request.user.is_superuser %}
                                <li>
                                    <a href="{% url 'facturacion' %}" class="navbar-brand"> <i class="fas fa-file-invoice"></i> Facturación</a>
                                    <div class="line-item-nav"></div>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'cooperativas' %}" class="navbar-brand"><i class="far fa-building"></i> Cooperativas</a>
                                <div class="line-item-nav"></div>
                            </li>
                            <li>
                                <a href="{% url 'asociados' %}" class="navbar-brand"><i class="fas fa-users"></i> Asociados</a>
                                <div class="line-item-nav"></div>
                            </li>
                            <li>
                                <a href="{% url 'tipos_cafe' %}" class="navbar-brand"><i class="fas fa-coffee"></i> Tipos de Café</a>
                                <div class="line-item-nav"></div>
                            </li>
                            <li>
                                <a href="{% url 'reportes' %}" class="navbar-brand"><i class="fas fa-file-invoice-dollar"></i> Ventas</a>
                                <div class="line-item-nav"></div>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class="navbar-brand"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                                <div class="line-item-nav"></div>    
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="col-lg-10 content-system">
                    {% block content %}
                    {% endblock content %}      
                </section>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"></script>
    <script src="{% static 'js/script-system.js' %}"></script>
</body>
</html>