{% extends '../base_system.html' %}

{% block title_head %}
    Cambiar contraseña | Cooincoffe    
{% endblock title_head %}

{% block content %}
    <div class="mb-4">
        <h2 class="mb-2 title_brown">
            <i class="fas fa-unlock-alt"></i> <u>Cambiar Contraseña</u>
        </h2>
    </div>

    <section>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in formulario_password %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}:</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                    <small class="text-danger">
                        {{ field.errors }}
                    </small>
                </div>
            {% endfor %}
            <div class="text-right">                        
                <button type="submit" class="btn btn-danger">
                    <i class="far fa-edit"></i> Cambiar</a>
                </button>
            </div>
        </form>
    </section>
{% endblock content %}